<%include templates/header.ejs%>
<div class="row" style="margin-right: 0px; margin-left: 0px">
    <!--Left Menu-->
    <div class="col-md-2" style="padding-left: 0px">
    </div>
    <!--Left Menu End-->

    <!--Central Body-->
    <div class="col-md-7" style="padding-left:0px; padding-right: 0px">
        <!--Center Header-->
        <div class="center-header">Laozi</div>
        Table Name <input id="tblName" type="text" class="form-control" name="dbName" placeholder="Table Name" />
        <div class="center-header-bottom"></div>
        <!--Center Header End-->

        <!--Main Container-->
        <div class="col-md-12 margin" style="border:1px solid #191919; background: white;">
            <!--Container Top Buttons-->
            <div class="col-md-offset-2 col-md-8">

            </div>
            <!--Container Top Buttons End-->
            <!--Slider Start-->
            <div  class="col-md-12">
                <div class="flipster">
                    <table id="myTable" class="table table-striped table-bordered table-hover">
                        <tr>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Not Null</td>
                            <td>Default</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="col1" type="text" placeholder="name" value="">
                            </td>
                            <td>
                                <select id="col2">
                                    <option value="TEXT">TEXT</option>
                                    <option value="INTEGER">INTEGER</option>
                                    <option value="NUMERIC">NUMERIC</option>
                                    <option value="REAL">REAL</option>
                                    <option value="NONE">NONE</option>
                                </select>
                            </td>
                            <td>
                                <input id="col3" type="checkbox" name="vehicle" value="NOT NULL" >
                            </td>
                            <td>
                                <input id="col4" type="text"value="">
                            </td>
                        </tr>
                    </table>

                    <button onclick="addFunction()" class="btn btn-block btn-sm">Add</button>
                    <button onclick="createFunction()" class="btn btn-block btn-sm">create</button>
                    <!--<button id="createBtn" class="btn btn-block btn-sm">create</button>-->
                    <p id="test"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<%include templates/footer.ejs%>



<script>
    var tableArray = [];
    var tableData = "";
    var table;

    function addFunction()
    {
        var table = document.getElementById("myTable");
        var col1 = document.getElementById("col1");
        var col2 = document.getElementById("col2");
        var col3 = document.getElementById("col3");
        var col4 = document.getElementById("col4");
        var test = document.getElementById("test");

        var tableLength = table.rows.length;
        var row = table.insertRow(tableLength-1);

        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);

        cell1.innerHTML = col1.value;
        cell2.innerHTML = col2.value;

        if(col3.checked == true) {
            cell3.innerHTML = false;
            col3.value = "IS NULL";
        }
        else {

            cell3.innerHTML = true;
            col3.value = "NOT NULL";
        }

        cell4.innerHTML = col4.value;

        tableData = '{"name": "'+ col1.value + '", "type": "'+ col2.value + '", "NotNull": "'+ col3.value + '", "Default": "'+ col4.value + '"}';
        tableArray.push(tableData);

        col1.value = "";
        col2.value = "";
        col3.checked = false;
        col4.value = "";

//        test.innerHTML = JSON.stringify(tableArray);
        test.innerHTML = JSON.stringify(tableArray);
    }

    function createFunction()
    {
        var table_name = document.getElementById("tblName");

        var tableObj = '{"tableName": "'+ table_name.value +'", "tableData": [' +tableArray+ '] }';

        tableObj =JSON.parse(tableObj);

        //document.getElementById("test").innerHTML = tableObj;


//        tableObj.forEach(function(table){
//            document.getElementById("test").innerHTML +="<br/>" + table.name+" "+table.type+" "+table.NotNull+" "+table.Default;
//        });

        $.ajax({
            url: '/CreateTable',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(tableObj),

            complete: function() {
                //called when complete
                console.log('process complete');
            },

            success: function(data) {
                //document.getElementById("test").innerHTML = table;

//                data.forEach(function(table){
//                    document.getElementById("test").innerHTML +="<br/>" + table.name+" "+table.type+" "+table.NotNull+" "+table.Default;
//                });
                document.getElementById("test").innerHTML = data;

            },
            error: function() {
                console.log('process error');
            },
        });
    }

</script>