<%include templates/header.ejs%>
<body onload="loadData()">
    <div class="row" style="margin-right: 0px; margin-left: 0px">
        <!--Left Menu-->
        <div class="col-md-2" style="padding-left: 0px">
        </div>
        <!--Left Menu End-->

        <!--Central Body-->
        <div class="col-md-7" style="padding-left:0px; padding-right: 0px">
            <!--Center Header-->
            <div class="center-header">Laozi</div>

            <div class="center-header-bottom"></div>
            <!--Center Header End-->

            <!--Main Container-->
            <div class="col-md-12 margin" style="border:1px solid #191919; background: white;">
                <!--Container Top Buttons-->
                <div class="col-md-offset-2 col-md-8">

                </div>
                <!--Container Top Buttons End-->
                <!--Slider Start-->
                <div  class="col-md-12">
                    <%var fieldId = 0;%>
                    <div class="flipster">
                        <table  id="table" class="table table-striped table-bordered table-hover">
                          <%if(data){
                                  data.forEach(function(row){
                                    for(var key in row){%>
                                    <tr>
                                        <td align="center" style="font-weight: 700">
                                            <%=key%>
                                        </td>
                                        <td align="center" style="font-weight: 700">
                                           <input id =<%=(fieldId++).toString()%> name=<%=(key).toString()%>
                                                  type="text" onchange = "changeVal(this)" value=<%=row[key]%>>
                                        </td>
                                    </tr>
                                <%}});}%>
                        </table>

                        <button onclick="UpdateFunction(this)" class="btn btn-block btn-sm">Update</button>
                        <p id="test"></p>
                    </div>
                </div>
                <!--Slider End-->
            </div>

        </div>
        <!--Main Container End-->
        <!--Central Body End-->
        <!--Right Menu-->
        <div class="right-menu margin">
            <a href="/CreateTable" class="btn btn-default btn-sm" stle="padding: 0px 10px;">Create Table</a><br/><br/>
            <%for(var i = 0 ; i< tables.length; i++)
            {%>
            <br/><a href="/SQLITEtable/<%=tables[i].name%>" class="btn btn-danger btn-sm" style="padding: 0px 10px;"><%=tables[i].name %></a><br/>
            <%}%>

        </div>



        <!--Right Menu Ends-->
    </div>
</body>

<%include templates/footer.ejs%>

<script>

    var test = document.getElementById("test");
    var table = document.getElementById("table");
    var fieldArr = {};

    function loadData()
    {
        for(var r = 0; r < table.rows.length; r++)
        {
            var data = table.rows[r].cells[1].getElementsByTagName("input")[0];
            var fieldName = data.getAttribute("name").toString();
            var fieldValue = data.getAttribute("value").toString();
            fieldArr[fieldName] = fieldValue;
        }
        //test.innerHTML = JSON.stringify(fieldArr);
    }

    function changeVal(input)
    {
        var fieldName = input.name;
        var fieldValue = input.value;
        fieldArr[fieldName] = fieldValue;
        //test.innerHTML = JSON.stringify(fieldArr);
    }

    function UpdateFunction(button)
    {
        fieldObj = JSON.parse(JSON.stringify(fieldArr));

        //test.innerHTML(JSON.stringify(fieldObj));
        $.ajax({
            url: '/editRow',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(fieldObj),

            complete: function() {
                //called when complete
                console.log('process complete');
            },

            success: function(data) {

                //document.getElementById("test").innerHTML = data;
                test.innerHTML = data;

            },
            error: function() {
                console.log('process error');
            },
        });
    }

</script>

<!--<script>-->
    <!--function UpdateFunction()-->
    <!--{-->
        <!--var table = document.getElementById("tabe");-->
        <!--var test = document.getElementById("test");-->
<!--//        for(var id= 0; id <= 2; id++)-->
<!--//        {-->
<!--//            var fieldName = document.getElementById(id.toString()).getAttribute("name").toString();-->
<!--//            var fieldValue =  document.getElementById(id.toString()).getAttribute("value").toString();-->
<!--//            str_upd = str_upd + " " + fieldName + " = " + fieldValue;-->
<!--//        }-->
        <!--var inputField = table.rows[0].cells[1].getElementsByTagName("input")[0];-->
        <!--var fieldName = inputField.value;-->
        <!--test.innerHTML = "No IDea";-->
    <!--}-->
<!--</script>-->