<%include templates/header.ejs%>
<div class="row" style="margin-right: 0px; margin-left: 0px">
    <!--Left Menu-->
    <div class="col-md-2" style="padding-left: 0px">
        <div class="left-menu"><a href="#"><img src="/images/logo.png" class="img-responsive"/></a></div>
        <div class="left-menu margin"><a href="#"><img src="/images/logo.png" class="img-responsive"/></a></div>
        <div class="left-menu"><a href="#"><img src="/images/logo.png" class="img-responsive"/></a></div>
        <div class="left-menu"><a href="#"><img src="/images/logo.png" class="img-responsive"/></a></div>
        <div class="left-menu"><a href="#"><img src="/images/logo.png" class="img-responsive"/></a></div>
        <div class="left-menu"><a href="#"><img src="/images/logo.png" class="img-responsive"/></a></div>
    </div>
    <!--Left Menu End-->

    <!--Central Body-->
    <div class="col-md-7" style="padding-left:0px; padding-right: 0px">
        <!--Center Header-->
        <div class="right-menu margin">
            <br/><a href="/SQLITE">MYSQL</a>
            <br/><a href="/SQLITE">SQLTE</a>
        </div>

    </div>
</div>
<%include templates/footer.ejs%>