<%include templates/header.ejs%>
<div class="row" style="margin-right: 0px; margin-left: 0px">
    <!--Left Menu-->
    <div class="col-md-2" style="padding-left: 0px">
    </div>
    <!--Left Menu End-->

    <!--Central Body-->
    <div class="col-md-7" style="padding-left:0px; padding-right: 0px">
        <!--Center Header-->
        <div class="center-header">Laozi</div>

        <div class="center-header-bottom"></div>
        <!--Center Header End-->

        <!--Main Container-->
        <div class="col-md-12 margin" style="border:1px solid #191919; background: white;">
            <!--Container Top Buttons-->
            <div class="col-md-offset-2 col-md-8">

            </div>
            <!--Container Top Buttons End-->
            <!--Slider Start-->
            <div  class="col-md-12">
                <div class="flipster">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <%if(colm){
                                    colm.forEach(function(colmName){%>
                            <td align="center" style="font-weight: 700">
                                <%=colmName%>
                            </td>
                            <%});}%>
                            <td align="center" style="font-weight: 700">
                                action
                            </td>

                        </tr>
                        <%if(data){
                        data.forEach(function(row){%>
                        <tr>
                            <%for(var key in row){%>
                            <td align="center">
                                <%=row[key]%>
                            </td>
                            <%}%>
                            <td align="center">

                                <a href="/editRow?Id=<%=row.Id%>&tableName=<%=table%>&tableList=<%=tables%>&colms=<%=colm%>" class="btn btn-info btn-sm" style="margin-left: 15px; padding: 0px 10px;">Edit</a>

                                <a href="/deleteRow?Id=<%=row.Id%>&tableName=<%=table%>&tableList=<%=tables%>" class="btn btn-danger btn-sm" style="margin-left: 15px; padding: 0px 10px;">Remove</a>
                            </td>

                        </tr>
                        <%});}%>
                    </table>
                </div>
            </div>
            <!--Slider End-->
        </div>

    </div>
    <!--Main Container End-->
    <!--Central Body End-->
    <!--Right Menu-->
    <div class="right-menu margin">
        <a href="/CreateTable" class="btn btn-default btn-sm" stle="padding: 0px 10px;">Create Table</a><br/><br/>
        <%for(var i = 0 ; i< tables.length; i++)
            {%>
                <br/><a href="/SQLITEtable/<%=tables[i].name%>" class="btn btn-danger btn-sm" style="padding: 0px 10px;"><%=tables[i].name %></a><br/>
            <%}%>

    </div>

    <!--Right Menu Ends-->
</div>

<%include templates/footer.ejs%>

<script>

</script>