<%include templates/basicHeader.ejs%>
<div class="container" style="padding-top: 50px">
    <form class="form-horizontal" method="post">
        <div >
            <div class="form-group">
                <!--<label class="col-sm-3 control-label">Database Name</label>-->
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="dbName" placeholder="Url To Sqlite Db" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <button type="submit" class="btn btn-success">Connect Db</button>
                </div>
            </div>
        </div>
    </form>
</div>
<%include templates/basicFooter.ejs%>