﻿body {
    font-size: 13px;
    margin:0;
    padding:0;
}
.col-md-2{
    width: 10.666667%;
}
.col-md-7{
    width: 69.333333%;
}
.col-md-3{
    width: 20%;
}
.left-menu{
    overflow:hidden;
    border: 1px solid #191919;
    background: #313131;
    transition: all .3s linear 0s;
}
.left-menu:hover{
    background: #2e6da4;
}
.margin {
    margin-top:1em;
}
.center-header{
    overflow:hidden;
    text-align:center;
    padding:.2em 0em .2em 0em;
    font-size:2em;
    border: 1px solid #191919;
    background: white;
}
.center-header-bottom{
    overflow:hidden;
    text-align:center;
    height:3.6em;
    border: 1px solid #191919;
    background: white;
}
.right-menu{
    overflow:hidden;
    text-align:center;
    padding:1.1em 0em 1.1em 0em;
    border: 1px solid #191919;
    background: white;
}
.body-header{
    overflow:hidden;
    text-align:center;
    padding:1.1em 0em 1.1em 0em;
    border: 1px solid #191919;
    background: white;
}
.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}
