<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/registration.css" rel="stylesheet" type="text/css" />
</head>
<body>