<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title><%=title%></title>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/jquery.flipster.css" rel="stylesheet">

        <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>

    </head>

<body>
